<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Index of <%= dirname %></title>
</head>
<body>
    <h1>Index of <%= dirname %></h1>
    <ul>
        <% for (var i = 0; i < files.length; i += 1) { -%>
            <li><a href="<%= files[i] %>"><%= files[i] %></a></li>
        <% } -%>
    </ul>
</body>
</html>
